/*
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Montserrat', sans-serif;

    White : #FEFEFE;
    Vert clair : #AFB669;
    Vert foncé : #656E40;
    Dark :#0E0F0B;
*/

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #FEFEFE;
    background-image: url("../../img/background/road-forest.png");
    background-size: 1950px;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #0E0F0B;
    font-size: 1.3em;
    text-align: center;
    scroll-behavior: smooth;
}

a {
    color: #FEFEFE !important;
    letter-spacing: 1px;
    transition: 0.5s;
    text-shadow: 2px 2px 0 #0E0F0B;
    text-transform: uppercase;
}

a:hover {
    color: #AFB669 !important;
    letter-spacing: 2px;
    transition: 0.8s;
    background-color: rgba(0,0,0,0) !important;
}

hr {
    width: 40%;
    opacity: 0.4;
}

/* MAIN NAVBAR */

.logo-title {
    width: 150px;
}

.navbar-toggle {
    margin-top: 25px;
}

.navbar-toggle .icon-bar {
    border: 1px solid #ddd; !important;
}

.navbar-collapse {
    border-top: none !important;
    box-shadow: none !important;
}

.margin-supp {
    margin-top: 40px !important;
}

/* FOOTER */

footer {
    margin-top: 200px;
    color: #fefefe;
    opacity: 0.7;
}

footer .icon-social {
    font-size: 25px;
    margin: 10px 20px;
}

footer div a:hover {
    letter-spacing: 1px;
}

footer div p {
    letter-spacing: 3px;
}

/* HOME PAGE */

#main-title {
    font-weight: 300;
    font-size: 3em;
    letter-spacing: 5px;
    margin-top: 220px;
    height: 250px;
}