{# Main twig template #}
<!DOCTYPE html>
    <html lang="fr">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport"
                  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta name="robots" content="index"/>
            <meta name="author" content="Audrey Antony" />
            <meta name="copyright" content="Audrey Antony" />
            <meta name="Identifier-Url" content="audrey-antony.be">
            <meta name="keywords" content="Audrey Antony, Audrey, Antony, site, website, développeur web, web developer, back end, back-end, portfolio"/>
            <meta name="description" content="Portfolio website || Audrey Antony || Back-end Web Developer"/>
            <title>{% block title %}{% endblock %}</title>
            {% block stylesheets %}{% endblock %}
        </head>
        <body>
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </body>
    </html>
