{% extends "portfolio_base.html.twig" %}

{# CONTENT #}
{% block content %}

    <div class="container m-3">
        <h1 id="main-title">
            <span
                    class="txt-rotate"
                    data-period="2000"
                    data-rotate='[ " ",
                    " ",
                    "Hello World ! My name is Audrey :)",
                    "I am a back-end web developer",
                    "I love design",
                    "I am passionate about code",
                    "( and LOTR )",
                    "Scroll down to learn more about me :)" ]'>
            </span>
        </h1>
    </div>

{% endblock %}